<div class="quantum-sidebar">
  <div class="brand">TECHFLOW<span>.</span></div>

  <nav class="nav-menu">
  <a routerLink="/dashboard" routerLinkActive="active-link" class="nav-item">
    <span class="icon">📊</span> Dashboard
  </a>

  @if (authService.isAdmin()) {
    <a routerLink="/departments" routerLinkActive="active-link" class="nav-item">
      <span class="icon">🏢</span> Departments
    </a>
  }

  @if (authService.isManager()) {
    <a routerLink="/my-department" routerLinkActive="active-link" class="nav-item">
      <span class="icon">🏢</span> My Department
    </a>
  }

  @if (authService.isAdmin() || authService.isManager()) {
    <a routerLink="/employees" routerLinkActive="active-link" class="nav-item">
      <span class="icon">👥</span>
      {{ authService.isAdmin() ? 'Staff Management' : 'My Team' }}
    </a>
  }

  <a routerLink="/projects" routerLinkActive="active-link" class="nav-item">
    <span class="icon">🚀</span>
    @if (authService.isAdmin()) { Projects } 
    @else if (authService.isManager()) { Team Projects } 
    @else { My Tasks }
  </a>

  <a routerLink="/leaves" routerLinkActive="active-link" class="nav-item">
    <span class="icon">📅</span>
    @if (authService.isAdmin()) { Global Leaves } 
    @else if (authService.isManager()) { Approval Center } 
    @else { My Requests }
  </a>

  @if (authService.isAdmin() || authService.isManager()) {
  <a routerLink="/reports" routerLinkActive="active-link" class="nav-item">
    <span class="icon">📈</span> 
    {{ authService.isAdmin() ? 'Global Reports' : 'Team Reports' }}
  </a>
}
</nav>

  <button class="logout-btn" (click)="logout()">
    {{ showLogoutConfirm() ? 'ARE YOU SURE?' : 'Disconnect Session [X]' }}
  </button>
</div>
